<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="metadata">
        <ui:param name="title" value="Latihan 1"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 
        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }
        </style>
    </ui:define>

    <ui:define name="description">
        Latihan 1
    </ui:define>

    <ui:define name="body">
        <p:outputLabel value="Halo ini Latihan ke 1">            
        </p:outputLabel>

        <h:form id="topForm">
            <div class="card" style="padding:2px">
                <p:commandButton icon="fa fa-plus"
                                 value="Load Data" styleClass="btn-primary"
                                 update="tabelref"
                                 action="#{lat1Ctr.loadData()}"/>
                <p:spacer width="4"/>
                <p:commandButton icon="fa fa-plus"
                                 value="Clear Data" styleClass="btn-primary"
                                 update="tabelref"
                                 action="#{lat1Ctr.clearData()}"/>
                <p:spacer width="4"/>
                <p:commandButton icon="fa fa-plus"
                                 value="Load Data DB" styleClass="btn-info"
                                 update="tabelref"
                                 action="#{lat1Ctr.loadDataDb()}"/>

                <p:commandButton icon="fa fa-plus"
                                 value="Rekam Data DB" styleClass="btn-info"
                                 update="addJenisMenuDialog"
                                 action="#{lat1Ctr.onRekam()}"/>
                <p:commandButton icon="fa fa-plus"
                                 value="Ubah Data DB" styleClass="btn-info"
                                 update="addJenisMenuDialog"
                                 action="#{lat1Ctr.onUbah()}"/>
            </div>
            <div class="card" style="padding:2px">
                <p:dataTable var="refjenis" value="#{lat1Ctr.refJenisMenus}" id="tabelref" 
                             selectionMode="single" selection="#{lat1Ctr.refJenisMenu}"
                             rowKey="#{refjenis.id}">
                    <p:ajax event="rowSelect" update="topForm:output1"/>
                    <p:column headerText="Kode">
                        <h:outputText value="#{refjenis.kode}" />
                    </p:column>

                    <p:column headerText="Nama">
                        <h:outputText value="#{refjenis.nama}" />
                    </p:column>            
                </p:dataTable>
            </div>
            <p:outputLabel id="output1" value="#{lat1Ctr.refJenisMenu.nama}" />
        </h:form>
        <div class="card" style="padding:2px">
            <h:form id="frmCetak" target="blank">
                <p:splitButton value="Cetak pdf" action="#{lat1Ctr.cetak('pdf')}" 
                               icon="fa fa-check"  ajax="false">
                    <p:menuitem value="Cetak docx" action="#{lat1Ctr.cetak('docx')}" 
                                icon="fa fa-refresh" ajax="false"/>
                    <p:menuitem value="Cetak xlsx" action="#{lat1Ctr.cetak('xlsx')}" 
                                icon="fa fa-refresh" ajax="false"/>
                </p:splitButton>
            </h:form>
        </div>
        <p:dialog id="addJenisMenuDialog" modal="true" width="500" height="200" widgetVar="addJenisMenuDialog"
                  header="#{lat1Ctr.statusOperasi}">
            <h:form id="frmInput">
                <div class="ui-g ui-fluid">
                    <div class="ui-sm-12 ui-g-6 ui-g-nopad"> 
                        <div class="ui-sm-12 ui-g-11">
                            <p:outputLabel value="Kode"/>
                        </div>
                        <div class="ui-sm-12 ui-g-11" >
                            <p:inputText value="#{lat1Ctr.refJenisMenu.kode}" required="true" id="txtKode" requiredMessage="Kode harus diisi" label="txtKode">
                                <p:ajax event="blur" update="pesanKode" listener="#{lat1Ctr.onKodeChange()}"/>
                            </p:inputText>
                            <span class="help-block"> 
                                <p:message for="txtKode" id="pesanKode"/> 
                            </span> 
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-6 ui-g-nopad"> 
                        <div class="ui-sm-12 ui-g-11" >
                            <p:outputLabel value="Nama"/>
                        </div>
                        <div class="ui-sm-12 ui-g-11" >
                            <p:inputText value="#{lat1Ctr.refJenisMenu.nama}" />
                        </div>
                    </div>
                </div>
                <p:separator/>
                <p:panelGrid columns="2">
                    <p:commandButton icon="fa fa-plus"
                                     value="Simpan" styleClass="btn-primary"
                                     update="topForm"
                                     action="#{lat1Ctr.simpan()}" widgetVar="widgetSimpan"/>
                    <p:commandButton icon="fa fa-plus"
                                     value="Batal" styleClass="btn-primary"
                                     onclick="PF('addJenisMenuDialog').hide()"/>
                </p:panelGrid>

            </h:form>
        </p:dialog> 
    </ui:define>

</ui:composition>
