<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ul class="sidebar-menu tree" data-widget="tree">
        <li>
            <p:link outcome="/index" onclick="clearBreadCrumbs()">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </p:link>
        </li>
        <li class="header">
            General
        </li>
        <li>
            <p:link outcome="/car-list">
                <i class="fa fa-car"></i>
                <span>Cars</span>
            </p:link>
        </li>
        <li>
            <p:link outcome="/car-form">
                <i class="fa fa-plus-circle"></i>
                <span>New car</span>
            </p:link>
        </li>
        <li>
            <p:link outcome="/ref_jenis_menu">
                <i class="fa fa-book"></i>
                <span>Jenis Menu</span>
            </p:link>
        </li>
    </ul>

</ui:composition>