<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="metadata">
        <ui:param name="title" value="Ref Jenis menu"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 

        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }
        </style>
    </ui:define>

    <ui:define name="description">
        Referensi Jenis Menu ya..
    </ui:define>

    <ui:define name="body">
        <h:form id="topForm">
            <p:focus context="@form"/>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        <p:commandButton icon="fa fa-plus"
                                         value="Rekam Ya" styleClass="btn-primary"
                                         update="addJenisMenuDialog"
                                         action="#{refJenisMenuView.onAdd()}"/>
                        <p:spacer width="5"/>
                        <p:commandButton value="Ubah" icon="fa fa-edit" styleClass="btn-info"
                                         action="#{refJenisMenuView.onEdit()}"
                                         disabled="#{refJenisMenuView.refJenisMenuSelected.id==null}"
                                         update="addJenisMenuDialog"
                                         >
                        </p:commandButton>
                        <p:commandButton value="Hapus" icon="fa fa-trash" styleClass="btn-danger"
                                         action="#{refJenisMenuView.onDelete()}"
                                         disabled="#{refJenisMenuView.refJenisMenuSelected.id==null}"
                                         process="@this" update="@form"
                                         >
                            <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-danger"/>
                        </p:commandButton>

                    </div>
                    <p:separator/>
                    <p:dataTable widgetVar="jenismenuTable" var="c" value="#{refJenisMenuView.refJenisMenus}" rows="5"
                                 rowKey="#{c.id}"  paginator="true"
                                 paginatorPosition="bottom" selectionMode="single" selection="#{refJenisMenuView.refJenisMenuSelected}"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
                                 currentPageReportTemplate="[ {startRecord} to {endRecord} of {totalRecords} ]"
                                 rowsPerPageTemplate="5,10,15,20,30"
                                 >
                        <p:ajax event="rowSelect" listener="#{refJenisMenuView.onRowSelected()}" 
                                update="@(.ui-button, .ui-confirm-dialog)" />
                        <p:column headerText="ID" filterBy="#{c.id}" sortBy="#{c.id}" width="15%"
                                  filterMatchMode="contains">#{c.id}
                        </p:column>
                        <p:column headerText="Kode" filterBy="#{c.kode}" sortBy="#{c.kode}"
                                  filterMatchMode="contains">
                            #{c.kode}
                        </p:column>
                        <p:column headerText="Nama" sortBy="#{c.nama}" filterBy="#{c.nama}">
                            #{c.nama}
                        </p:column>
                    </p:dataTable>
                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Yes" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="No" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>

   <p:dialog id="addJenisMenuDialog" header="#{refJenisMenuView.dialogHeader}" modal="true" resizable="false"
                  width="450" height="175" fitViewport="true"
                  style="font-size: 12px;" widgetVar="addJenisMenuDialog" >
            <h:form>
                <p:growl sticky="true"  showDetail="true"/>
                <p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8"
                             layout="grid" styleClass="ui-fluid card">
                    <p:outputLabel value="Kode"/>
                    <p:inputText value="#{refJenisMenuView.refJenisMenuSelected.kode}"/>
                </p:panelGrid>
                <p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8"
                             layout="grid" styleClass="ui-fluid card">
                    <p:outputLabel value="Nama"/>
                    <p:inputText value="#{refJenisMenuView.refJenisMenuSelected.nama}"/>
                </p:panelGrid>
                <p:separator/>
                <h:panelGrid columns="2"  >
                    <p:commandButton value="Simpan" 
                                     actionListener="#{refJenisMenuView.onSave()}" update=":topForm"
                                     styleClass="btn btn-sm btn-primary"/>
                    <p:commandButton value="Batal" onclick="PF('addJenisMenuDialog').hide();"
                                     styleClass="btn btn-sm btn-primary"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>

</ui:composition>
